/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
@font-face {
  font-family: 'Liberation Sans';
  src: "/assets/LiberationSans-Regular-e5b0af421ea2bfbc1ac8d251d647268087ae82786234c57f757d1f0b90fa8b49.ttf" format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Liberation Sans';
  src: "/assets/LiberationSans-Bold-d723d5a272970aedf296ef6fc628180df6074bce7769701ea9e0d222c052668c.ttf" format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Liberation Sans';
  src: "/assets/LiberationSans-Italic-e27e6da1f5bbba630d635b8cc2916f84f195735865ea539687df962ae5a98e72.ttf" format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Liberation Sans';
  src: "/assets/LiberationSans-BoldItalic-24b7cf0d06040c9a1b16efc528dc2966a407288938dfa169ee7fe584140a3393.ttf" format("truetype");
  font-weight: bold;
  font-style: italic;
}
/* line 46, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: "Liberation Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* line 67, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
html {
  overflow-y: scroll;
}

/* line 71, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* line 76, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
html, body {
  height: 100%;
}

/* line 80, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
div.container {
  min-height: 1000px;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

/* line 87, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
ul {
  list-style: none;
}

/* line 91, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
img {
  display: block;
  width: 100%;
  height: auto;
}

/* line 97, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* line 107, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
button,
input[type="submit"] {
  cursor: pointer;
}

/* line 112, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
body {
  background-color: rgba(226, 224, 210, 0.31);
}

/* clearfix */
/* line 117, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.group:after {
  content: "";
  display: block;
  clear: both;
}

/* Nav-bar */
/* line 124, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.nav-bar {
  z-index: 1;
  position: relative;
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid #eee;
  font-family: helvetica;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  box-shadow: 0px 3px 20px #ccc;
}

/* line 137, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.nav-bar a {
  padding-bottom: 22px;
}

/* line 141, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.nav-bar a:hover {
  border-bottom: 4px solid #00e673;
}

/* line 145, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.site-nav-left li {
  display: inline-block;
  float: left;
  margin-left: 20px;
  padding-right: 30px;
  width: auto;
  padding: auto;
}

/* line 154, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.site-nav-middle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: perspective(1px) translate(-50%, -50%);
}

/* line 161, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.site-nav-middle img {
  height: 20px;
  width: auto;
}

/* line 166, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.site-nav-right li {
  display: block;
  float: right;
  padding-right: 30px;
}

/* line 172, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.log-out-button img {
  height: 20px;
  width: auto;
  cursor: pointer;
}

/* Front page/splash */
/* line 179, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
div.splash {
  height: 600px;
  width: auto;
  position: relative;
  background-image: url(/assets/splash3-5781e3f0d34431fb67c1369f0dd22bb6817a68a9e8c99f2fd62d7858b4864d07.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: 50% 50%;
  border-bottom: 1px solid #ccc;
  background-size: cover;
  top: -54px;
}

/* line 193, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
h2.under-construction {
  position: absolute;
  text-align: center;
  font-size: 24px;
  width: 100%;
  cursor: default;
}

/* error box */
/* line 202, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.errors {
  position: relative;
  height: 30px;
  width: 800px;
  margin: 12px auto;
  color: red;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
}

/* line 214, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.errors p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* line 220, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.dismissError.present {
  float: right;
  margin-right: 10px;
  color: green;
}

/* line 226, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.dismissError.empty {
  color: transparent;
}

/* line 230, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.errors.empty {
  color: transparent;
}

/* line 234, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.errors.present {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
}

/* line 240, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
#email.email {
  border: 1px solid red;
  transition: 0.5s;
}

/* line 245, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
#password.password {
  border: 1px solid red;
  transition: 0.5s;
}

/* Footer */
/* line 252, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
div.footer-wrapper {
  border-top: 1px solid limegreen;
  height: 200px;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: white;
  background-color: #16163c;
}

/* line 262, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
div.footer-wrapper ul.footer-bottom {
  position: absolute;
  left: 50%;
  min-width: 656px;
  transform: translateX(-50%);
  bottom: 100px;
}

/* line 270, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
h2.click-joke {
  position: absolute;
  transform: translateX(-50%);
  margin-top: 25px;
  left: 50%;
  color: limegreen;
}

/* line 278, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
h2.click-joke:hover {
  color: red;
  transition: 0.5s;
  cursor: pointer;
}

/* line 284, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
div.footer-wrapper ul.footer-bottom li {
  float: left;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

/* Search */
/* line 295, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.search img {
  height: 20px;
  width: auto;
}

/* login/signup */
/* line 305, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.sign-up-form, .login-form {
  width: 400px;
  height: 520px;
  position: absolute;
  left: 50%;
  top: 375px;
  transform: perspective(1px) translate(-50%, -50%);
  border: 0.5px solid #ccc;
  background-color: white;
}

/* line 317, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.login-form {
  height: 385px;
  top: 307px;
}

/* line 322, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.sign-up-form input, .login-form input {
  margin: 12px 17px;
  border: 1px solid #ccc;
  width: 90%;
  height: 40px;
  font-size: 14px;
  border-radius: 5px;
  padding-left: 10px;
  font-weight: 300;
}

/* line 333, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.sign-up-form input:focus, .login-form input:focus {
  border: 1px solid blue;
  transition: 0.5s;
}

/* line 338, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.sign-up-form button, .login-form button {
  background-color: #00e673;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  color: white;
  margin: 12px 17px;
  width: 90%;
  height: 40px;
  text-align: center;
}

/* line 350, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.sign-up-form h2, .login-form h2 {
  -webkit-font-smoothing: antialiased;
  padding: 20px;
  font-size: 30px;
}

/* line 356, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.sign-up-form p, .login-form p {
  margin: 12px;
  text-align: center;
  color: #2c2c48;
  font-size: 14px;
  font-weight: 300;
}

/* ProjectStart view */
/* line 366, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.start-project {
  height: 600px;
  width: auto;
  position: relative;
  background-image: url(/assets/splash2-fcd627d18a303ca97bd637caaf2aaab9e50c233f5f23bf1641992567d91fdc0f.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: 50% 50%;
  top: -54px;
}

/* line 378, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.start-project ul:first-child {
  padding-top: 40px;
}

/* line 382, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.start-project h1 {
  font-weight: 300;
  font-size: 40px;
  text-align: center;
}

/* line 407, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
ul.buttons-wrapper {
  position: absolute;
  left: 50%;
  top: 160px;
  transform: translate(-50%, 50%);
}

/* line 414, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
ul.buttons-wrapper li {
  width: 175px;
  text-align: center;
  float: left;
  background-color: #00e673;
  padding: 20px 0;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s;
}

/* line 428, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
ul.buttons-wrapper li:hover {
  background-color: #02a654;
}

/* line 432, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
ul.buttons-wrapper li.moving-up {
  height: -10px;
  transform: scale(0.7) translateY(-70px);
  opacity: 0.5;
  transition: 0.5s;
  background-color: #02a654;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* line 443, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
ul.buttons-wrapper li.new-project-button {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  opacity: 0.25;
  position: absolute;
}

/* line 450, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
ul.buttons-wrapper li.new-project-button.spread {
  transform: translateX(-88px);
  transition: 0.5s;
}

/* line 455, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
ul.buttons-wrapper li.saved-projects-button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  opacity: 0.25;
  position: absolute;
}

/* line 462, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
ul.buttons-wrapper li.saved-projects-button.spread {
  transform: translateX(87px);
  transition: 0.5s;
}

/* line 467, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
ul.buttons-wrapper li.saved-projects-button:hover {
  opacity: 1;
  transition: opacity 0.1s linear;
}

/* line 472, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
ul.buttons-wrapper li.new-project-button:hover {
  opacity: 1;
  transition: opacity 0.1s linear;
}

/* Select-era */
/* line 483, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.select-era {
  height: 600px;
  width: auto;
  position: relative;
  background-image: url(/assets/splash2-fcd627d18a303ca97bd637caaf2aaab9e50c233f5f23bf1641992567d91fdc0f.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: 50% 50%;
  border-bottom: 1px solid #ccc;
  background-size: cover;
  top: -54px;
}

/* line 497, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.select-era img {
  width: 100%;
  position: absolute;
}

/* line 502, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.select-era *:not(li) {
  position: absolute;
  left: 50%;
  transform: perspective(1px) translate(-50%, -50%);
  text-align: center;
}

/* line 509, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.select-era h2 {
  top: 112px;
  font-weight: 300;
  font-size: 44px;
  color: black;
}

/* line 516, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.select-era ul {
  top: 215px;
  font-weight: 300;
  font-size: 36px;
  color: black;
  text-align: center;
}

/* line 524, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.select-era ul.create-category-select {
  min-width: 703px;
}

/* line 528, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.select-era ul.create-category-select > li {
  float: left;
}

/* line 532, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.select-era .display-cat {
  margin: 0 10px;
  width: 250px;
  border-bottom: 2px solid #000;
  cursor: pointer;
}

/* line 539, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
img#cat-down {
  color: blue;
  position: absolute;
  height: 25px;
  width: auto;
  transform: translateX(48%);
  top: 50%;
  right: 44px;
  transform: translate(400%, -50%);
  cursor: pointer;
}

/* line 551, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.select-era .display-cat:hover {
  border-bottom: 2px solid #00e673;
  transition: 0.5s;
}

/* Create Project */
/* line 558, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
ul.inactive-drop-down > li {
  display: none;
}

/* line 561, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
li.first-half-text {
  word-spacing: 1px;
}

/* line 565, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
ul.active-drop-down {
  width: 248px;
  top: 394px;
  border: 1px solid #ccc;
  font-size: 18px;
  left: 50%;
  background-color: mintcream;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1;
}

/* line 577, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
li.cats-first-half, li.cats-second-half {
  padding: 20px;
  cursor: pointer;
}

/* line 582, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
li.cats-second-half:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* line 587, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
li.cats-first-half:hover, li.cats-second-half:hover {
  background-color: palegreen;
  transition: 0.3s;
}

/* line 592, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.select-era input {
  top: 300px;
  width: 700px;
  font-weight: 300;
  color: darkgreen;
  line-height: 32px;
  font-size: 36px;
  border-bottom: 2px solid black;
  text-align: left;
}

/* line 602, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.select-era ::-webkit-input-placeholder {
  color: darkgreen;
}

/* line 606, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
button.submit-button {
  position: absolute;
  top: 420px;
  background-color: #00e673;
  border-radius: 10px;
  left: 60%;
  font-size: 22px;
  font-weight: 700;
  color: white;
  width: 150px;
  height: 40px;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
  text-align: center;
}

/* line 624, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
button.submit-button:hover {
  background-color: #02a654;
}

/* Finalize Project */
/* line 630, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.project-create-subpage {
  background-color: white;
  width: 945px;
  min-height: 200px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 400px;
  padding-bottom: 15px;
  flex: 1;
}

/* Project Nav Bar */
/* line 644, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.nav-bar-box {
  height: 265px;
  position: relative;
}

/* line 649, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.nav-bar-top-text {
  position: absolute;
  left: 50%;
  top: 125px;
  min-width: 953px;
  text-align: center;
  font-size: 44px;
  transform: translate(-50%, -50%);
}

/* line 659, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.nav-bar-bottom-text {
  position: absolute;
  left: 50%;
  top: 200px;
  text-align: center;
  min-width: 953px;
  text-align: center;
  font-size: 24px;
  transform: translate(-50%, -50%);
}

/* line 670, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.project-nav-bar {
  position: absolute;
  min-width: 630px;
  left: 50%;
  top: 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 1px solid #ccc;
  transform: translate(-50%, -50%);
}

/* line 681, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
div.delete-wrapper {
  position: fixed;
  top: 360px;
  right: -120px;
  width: 100px;
  height: 60px;
  border: 1px solid #fd003b;
  border-bottom-left-radius: 5px;
  background-color: #fd003b;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: white;
  line-height: 60px;
  transition: 0.5s;
}

/* line 698, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
div.delete-wrapper.visible {
  transform: translateX(-120px);
  transition: 0.5s;
}

/* line 703, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
button.delete-project {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

/* line 709, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
p.delete-message {
  color: black;
  line-height: 20px;
  margin-top: 5px;
}

/* line 715, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.project-nav-bar li {
  float: left;
  height: 50px;
  width: 85px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: white;
  text-align: center;
  cursor: pointer;
}

/* line 727, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.project-nav-bar li span {
  height: 50px;
  width: 85px;
  display: table-cell;
  vertical-align: middle;
}

/* line 734, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.project-nav-bar li span:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* line 739, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.project-nav-bar li:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* line 744, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.project-nav-bar li span.act {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* line 749, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.project-nav-bar li.act-li {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* line 754, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.project-nav-bar #basics.basics {
  color: #0927e2;
  font-weight: 700;
}

/* line 759, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.project-nav-bar #rewards.rewards {
  border-radius: 0px;
  color: #0927e2;
  font-weight: 700;
}

/* line 765, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.project-nav-bar #story.story {
  border-radius: 0px;
  color: #0927e2;
  font-weight: 700;
}

/* line 771, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.project-nav-bar #about_you.about_you {
  border-radius: 0px;
  color: #0927e2;
  font-weight: 700;
}

/* line 777, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.project-nav-bar #account.account {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  color: #0927e2;
  font-weight: 700;
}

/* line 784, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.project-nav-bar #preview.preview {
  color: #0927e2;
  font-weight: 700;
  border-radius: 5px;
}

/* line 790, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.project-nav-bar li.prev-li {
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* line 797, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.project-nav-bar li.submit-li {
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* line 802, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.project-nav-bar span.submit-span {
  border-radius: 5px;
}

/* line 806, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.project-nav-bar span.submit-span:hover {
  background-color: limegreen;
}

/* line 810, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.nav-bar-box h1 {
  position: relative;
}

/* Basics Form */
/* line 816, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.wrapper, .about-you-wrapper {
  position: relative;
  height: 100%;
}

/* line 821, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.project-basic-form {
  padding: 15px;
  height: 100%;
}

/* line 826, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
div.attribute-field {
  position: absolute;
  width: auto;
  margin-left: 25px;
  font-weight: 700;
}

/* line 833, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
div.grey-field {
  height: 155px;
  width: 98%;
  line-height: 155px;
  position: relative;
  margin: 10px;
  border-radius: 5px;
  background-color: aliceblue;
}

/* line 843, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
div.field-wrapper {
  position: relative;
  float: right;
  width: 700px;
  height: 155px;
}

/* line 850, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
div.field-wrapper input, textarea.short-blurb-field, textarea.user-biography {
  position: absolute;
  top: 77px;
  transform: translateY(-50%);
  border: 1px solid #ccc;
  margin-right: 25px;
  width: 660px;
  height: 45px;
  line-height: 45px;
  font-size: 24px;
  border-radius: 5px;
  background-color: white;
  padding-left: 15px;
}

/* line 865, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
button#project-image.project-image, button#about-you-image.about-you-image {
  border: 1px dashed #000;
  width: 99%;
  text-align: center;
  border-radius: 10px;
  height: 95%;
  margin-bottom: auto;
  vertical-align: middle;
}

/* line 875, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
div.field-wrapper input:focus, textarea.short-blurb-field:focus,
textarea.user-biography:focus {
  border: 1px solid blue;
  transition: 0.5s;
}

/* line 881, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
textarea.short-blurb-field, textarea.user-biography {
  height: 75px;
  line-height: 25px;
  font-size: 20px;
  resize: none;
  padding-left: 15px;
}

/* line 889, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
textarea.user-biography {
  height: 125px;
}

/* line 893, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
button.category-button {
  float: right;
  position: absolute;
  top: 77px;
  transform: translateY(-50%);
  border: 1px solid #ccc;
  margin-right: -6px;
  width: 300px;
  height: 45px;
  line-height: 45px;
  font-size: 24px;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  cursor: default;
}

/* line 910, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
img#left, img#right {
  color: blue;
  position: absolute;
  height: 25px;
  width: auto;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* line 920, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
img#right {
  left: 268px;
}

/* line 924, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
img#left {
  left: 10px;
  z-index: 1;
}

/* line 929, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
#save-box {
  position: fixed;
  width: 100px;
  height: 60px;
  top: 300px;
  right: -120px;
  border: 1px solid #ccc;
  border-top-left-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: white;
  line-height: 60px;
  cursor: pointer;
  transition: 0.5s;
}

/* line 946, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
#save-box.saved {
  background: #ccc;
  border: 1px solid #ccc;
}

/* line 951, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
#save-box.unsaved {
  background: #00e673;
  border: 1px solid #00e673;
  transform: translateX(-120px);
  transition: 0.5s;
}

/* line 958, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
#save-box button.saved {
  background: #ccc;
  cursor: not-allowed;
}

/* line 963, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
#save-box button.unsaved {
  background: #00e673;
}

/* line 967, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
#save-box p {
  color: black;
  line-height: 20px;
  margin-top: -125px;
}

/* Rewards creation */
/* line 975, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
div.rewards-wrapper {
  position: relative;
  height: 350px;
  width: auto;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  background-color: aliceblue;
}

/* line 986, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
div.reward-error-message {
  position: absolute;
  top: -20px;
  left: 50%;
  min-width: 200px;
  transform: translateX(-50%);
  font-size: 12px;
}

/* line 995, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
div.reward-error-message p {
  text-align: center;
}

/* line 999, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
div.rewards-wrapper input {
  width: 125%;
  margin: 10px;
  padding-left: 5px;
  border: 1px solid black;
  color: black;
  background-color: white;
}

/* line 1008, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
div.rewards-wrapper input:focus {
  border-color: springgreen;
  transition: 0.5s;
}

/* line 1013, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
div.rewards-wrapper textarea {
  border: 1px solid black;
  width: 120%;
  resize: none;
  color: black;
  margin: 10px;
  padding-left: 5px;
  background-color: white;
}

/* line 1023, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
div.rewards-wrapper textarea:focus {
  border-color: springgreen;
  transition: 0.5s;
}

/* line 1028, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
button.add-reward-button {
  position: fixed;
  top: 300px;
  right: 0;
  width: 100px;
  height: 60px;
  border: 1px solid #00e673;
  border-top-left-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  background-color: #00e673;
  color: white;
  line-height: 60px;
}

/* line 1044, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
button.add-reward-button:hover {
  background-color: #02a654;
}

/* line 1048, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
div.reward-title-text {
  float: left;
  margin-left: 20px;
  font-weight: 700;
  margin-top: 20px;
}

/* line 1055, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
div.reward-title-text.unsaved {
  font-weight: normal;
}

/* line 1059, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
div.reward-title-text.saved {
  color: limegreen;
  transition: 1s;
  margin-left: 18px;
  margin-top: 18px;
  padding: 2px;
}

/* line 1067, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
div.reward-form-wrapper {
  height: 306px;
  width: 300px;
  margin: 0 auto;
  color: darkblue;
  border: 2px solid black;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: steelblue;
}

/* line 1081, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
ul.reward-save-wrapper {
  bottom: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  margin-bottom: 5px;
  padding: 2px 5px;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: white;
}

/* line 1094, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
ul.reward-save-wrapper:hover {
  border: 1px solid #00e673;
  transition: 0.5s;
}

/* line 1099, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
ul.reward-save-wrapper li {
  float: left;
}

/* line 1103, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
ul.reward-save-wrapper li p {
  margin-top: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #000000;
  padding-left: 12px;
}

/* line 1111, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
div.reward-save-button {
  float: left;
}

/* line 1115, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
img#check-mark {
  height: 25px;
  width: auto;
}

/* line 1121, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
button.reward-delete-button {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  color: white;
  font-size: 12px;
  font-weight: 700;
}

/* line 1130, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
div.reward-title-wrapper {
  margin: 20px;
  margin-top: 5px;
  position: absolute;
}

/* line 1141, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
div.reward-amount-wrapper {
  margin: 20px;
  position: absolute;
  top: 40px;
}

/* line 1147, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
div.reward-description-wrapper {
  margin: 20px;
  position: absolute;
  top: 95px;
}

/* line 1153, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
div.reward-quantity-wrapper {
  margin: 20px;
  top: 187px;
  position: absolute;
}

/* Story page */
/* line 1161, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.story-wrapper {
  position: relative;
  height: 100%;
}

/* line 1166, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.story-basic-form {
  padding: 15px;
  height: 100%;
}

/* line 1171, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
div.story-attribute-field {
  position: absolute;
  width: auto;
  margin-top: 30px;
  margin-left: 25px;
  font-weight: 700;
}

/* line 1179, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
div.story-grey-field {
  height: 600px;
  width: 98%;
  position: relative;
  margin: 10px;
  border-radius: 5px;
  background-color: aliceblue;
}

/* line 1188, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
div.story-field-wrapper {
  position: relative;
  float: right;
  width: 700px;
  height: auto;
}

/* line 1195, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
div.story-instructions {
  position: absolute;
  line-height: 20px;
  margin: 25px;
  margin-left: -50px;
}

/* line 1202, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
div.text-box textarea {
  position: absolute;
  top: 100px;
  border: 1px solid #ccc;
  margin-left: -50px;
  margin-right: 25px;
  width: 700px;
  height: auto;
  line-height: 45px;
  font-size: 24px;
  border-radius: 5px;
  background-color: white;
  padding-left: 15px;
  resize: none;
}

/* line 1218, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
div.text-box textarea:focus {
  border: 1px solid blue;
  transition: 0.5s;
}

/* About You Form */
/* line 1225, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.about-you-form {
  padding: 15px;
  height: 100%;
}

/* line 1230, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.warning-text {
  position: absolute;
  height: auto;
  line-height: 20px;
  bottom: 20px;
  left: 200px;
}

/* line 1237, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.warning-text strong {
  color: red;
  font-weight: bold;
}

/* Account form */
/* line 1244, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.account-info-form {
  padding: 15px;
  height: 100%;
}

/* line 1249, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.email-text {
  position: absolute;
  height: auto;
  line-height: 20px;
  bottom: 10px;
  left: 200px;
  margin-right: 15px;
}

/* line 1258, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
div.unverified, div.verified, div.pending {
  position: absolute;
  right: 0;
  line-height: 20px;
  padding-right: 20px;
  padding-top: 20px;
  font-weight: bold;
}

/* line 1267, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
input#account.user-email {
  width: 500px;
  text-align: center;
}

/* line 1272, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
div.status.pending {
  color: orange;
  transition: 1s;
}

/* line 1277, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
div.status.verified {
  color: green;
  transition: 1s;
}

/* line 1282, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
div.email-button {
  position: absolute;
  right: 15px;
  line-height: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: steelblue;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* line 1294, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
div.email-button.verified, div.email-button.pending, div.email-button.verified
button, div.email-button.pending button {
  background-color: #aaa;
  cursor: not-allowed;
  color: #fff;
}

/* line 1301, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.entering {
  opacity: 0.01;
}

/* line 1305, /Users/robtaussig/Desktop/Capstone4/Capstone3/app/assets/stylesheets/application.scss */
.entered {
  opacity: 1;
  transition: opacity .2s ease-in;
}
