/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'Liberation Sans';
  src:font_path('LiberationSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Liberation Sans';
  src:font_path('LiberationSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Liberation Sans';
  src:font_path('LiberationSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Liberation Sans';
  src:font_path('LiberationSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

 html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: "Liberation Sans", "HelveticaNeue-Light", "Helvetica Neue Light",
  "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  // -webkit-font-smoothing: antialiased;
}

html {
  overflow-y: scroll;
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
html, body {
  height: 100%
}

div.container {
  min-height: 1000px;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

body {
  background-color: rgba(226, 224, 210, 0.31);
}

/* clearfix */
.group:after {
  content: "";
  display: block;
  clear: both;
}

/* Nav-bar */
.nav-bar {
  z-index: 1;
  position: relative;
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid #eee;
  font-family: helvetica;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  box-shadow: 0px 3px 20px #ccc;
}

.nav-bar a {
  padding-bottom: 22px;
}

.nav-bar a:hover {
  border-bottom: 4px solid rgb(0, 230, 115);
}

.site-nav-left li {
  display: inline-block;
  float: left;
  margin-left: 20px;
  padding-right: 30px;
  width: auto;
  padding: auto;
}

.site-nav-middle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: perspective(1px) translate(-50%, -50%);
}

.site-nav-middle img {
  height: 20px;
  width: auto;
}

.site-nav-right li {
  display: block;
  float: right;
  padding-right: 30px;
}

.log-out-button img {
  height: 20px;
  width: auto;
  cursor: pointer;
}

/* Front page/splash */
div.splash {
  height: 600px;
  width: auto;
  position: relative;
  background-image: image-url("splash3.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: 50% 50%;
  border-bottom: 1px solid #ccc;
  background-size: cover;
  top: -54px;
}

h2.under-construction {
  position: absolute;
  text-align: center;
  font-size: 24px;
  width: 100%;
  cursor: default;
}

/* error box */
.errors {
  position: relative;
  height: 30px;
  width: 800px;
  margin: 12px auto;
  color: red;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
}

.errors p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.dismissError.present {
  float: right;
  margin-right: 10px;
  color: green;
}

.dismissError.empty {
  color: transparent;
}

.errors.empty {
  color: transparent;
}

.errors.present {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
}

#email.email {
  border: 1px solid red;
  transition: 0.5s;
}

#password.password {
  border: 1px solid red;
  transition: 0.5s;
}

/* Footer */

div.footer-wrapper {
  border-top: 1px solid limegreen;
  height: 200px;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: white;
  background-color: #16163c;
}

div.footer-wrapper ul.footer-bottom {
  position: absolute;
  left: 50%;
  min-width: 656px;
  transform: translateX(-50%);
  bottom: 100px;
}

h2.click-joke {
  position: absolute;
  transform: translateX(-50%);
  margin-top: 25px;
  left: 50%;
  color: limegreen;
}

h2.click-joke:hover {
  color: red;
  transition: 0.5s;
  cursor: pointer;
}

div.footer-wrapper ul.footer-bottom li{
  float: left;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

/* Search */

.search img {
  height: 20px;
  width: auto;
}

.search img:hover {
}

/* login/signup */

.sign-up-form, .login-form {
  width: 400px;
  height: 520px;
  position: absolute;
  left: 50%;
  top: 375px;
  transform: perspective(1px) translate(-50%, -50%);
  border: 0.5px solid #ccc;
  background-color: white;
}


.login-form {
  height: 385px;
  top: 307px;
}

.sign-up-form input, .login-form input  {
  margin: 12px 17px;
  border: 1px solid #ccc;
  width: 90%;
  height: 40px;
  font-size: 14px;
  border-radius: 5px;
  padding-left: 10px;
  font-weight: 300;
}

.sign-up-form input:focus, .login-form input:focus {
  border: 1px solid blue;
  transition: 0.5s;
}

.sign-up-form button, .login-form button {
  background-color: rgb(0, 230, 115);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  color: white;
  margin: 12px 17px;
  width: 90%;
  height: 40px;
  text-align: center;
}

.sign-up-form h2, .login-form h2 {
  -webkit-font-smoothing: antialiased;
  padding: 20px;
  font-size: 30px;
}

.sign-up-form p, .login-form p {
  margin: 12px;
  text-align: center;
  color: #2c2c48;
  font-size: 14px;
  font-weight: 300;
}

/* ProjectStart view */

.start-project {
  height: 600px;
  width: auto;
  position: relative;
  background-image: image-url("splash2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: 50% 50%;
  top: -54px;
}

.start-project ul:first-child {
  padding-top:40px;
}

.start-project h1 {
  font-weight: 300;
  font-size: 40px;
  text-align: center;
}

// .start-project a {
//   background-color: rgb(0, 230, 115);
//   border-radius: 5px;
//   font-size: 16px;
//   color: white;
//   font-weight: 700;
//   position: absolute;
//   left: 50%;
//   top: 225px;
//   transform: perspective(1px) translate(-50%, -50%);
//   width: 150px;
//   height: 40px;
//   padding: 5px;
//   padding-top: 20px;
//   vertical-align: middle;
//   text-align: center;
//   cursor: pointer;
// }

ul.buttons-wrapper {
  position: absolute;
  left: 50%;
  top: 160px;
  transform: translate(-50%, 50%);
}

ul.buttons-wrapper li {
  width: 175px;
  text-align: center;
  float: left;
  background-color: #00e673;
  padding: 20px 0;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s;
}

ul.buttons-wrapper li:hover {
  background-color: #02a654;;
}

ul.buttons-wrapper li.moving-up {
  height: -10px;
  transform: scale(0.7) translateY(-70px);
  opacity: 0.5;
  transition: 0.5s;
  background-color: #02a654;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;

}

ul.buttons-wrapper li.new-project-button {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  opacity: 0.25;
  position: absolute;
}

ul.buttons-wrapper li.new-project-button.spread {
  transform: translateX(-88px);
  transition: 0.5s;
}

ul.buttons-wrapper li.saved-projects-button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  opacity: 0.25;
  position: absolute;
}

ul.buttons-wrapper li.saved-projects-button.spread {
  transform: translateX(87px);
  transition: 0.5s;
}

ul.buttons-wrapper li.saved-projects-button:hover {
  opacity: 1;
  transition: opacity 0.1s linear;
}

ul.buttons-wrapper li.new-project-button:hover {
  opacity: 1;
  transition: opacity 0.1s linear;
}





/* Select-era */

.select-era {
  height: 600px;
  width: auto;
  position: relative;
  background-image: image-url("splash2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: 50% 50%;
  border-bottom: 1px solid #ccc;
  background-size: cover;
  top: -54px;
}

.select-era img {
  width: 100%;
  position: absolute;
}

.select-era *:not(li) {
  position: absolute;
  left: 50%;
  transform: perspective(1px) translate(-50%, -50%);
  text-align: center;
}

.select-era h2 {
  top: 112px;
  font-weight: 300;
  font-size: 44px;
  color: black;
}

.select-era ul {
  top: 215px;
  font-weight: 300;
  font-size: 36px;
  color: black;
  text-align: center;
}

.select-era ul.create-category-select {
  min-width: 703px;
}

.select-era ul.create-category-select > li {
  float:left;
}

.select-era .display-cat {
  margin: 0 10px;
  width: 250px;
  border-bottom: 2px solid #000;
  cursor: pointer;
}

img#cat-down {
    color: blue;
    position: absolute;
    height: 25px;
    width: auto;
    transform: translateX(48%);
    top: 50%;
    right: 44px;
    transform: translate(400%, -50%);
    cursor: pointer;
}

.select-era .display-cat:hover {
  border-bottom: 2px solid #00e673;
  transition: 0.5s;
}

/* Create Project */

ul.inactive-drop-down > li {
  display: none;
}
li.first-half-text {
  word-spacing: 1px;
}

ul.active-drop-down {
  width: 248px;
  top: 394px;
  border: 1px solid #ccc;
  font-size: 18px;
  left: 50%;
  background-color: mintcream;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1;
}

li.cats-first-half, li.cats-second-half {
  padding:20px;
  cursor: pointer;
}

li.cats-second-half:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

li.cats-first-half:hover, li.cats-second-half:hover {
  background-color: palegreen;
  transition: 0.3s;
}

.select-era input {
  top: 300px;
  width: 700px;
  font-weight: 300;
  color: darkgreen;
  line-height: 32px;
  font-size: 36px;
  border-bottom: 2px solid black;
  text-align: left;
}
.select-era ::-webkit-input-placeholder {
   color: darkgreen;
}

button.submit-button {
  position: absolute;
  top: 420px;
  background-color: #00e673;
  border-radius: 10px;
  left: 60%;
  font-size: 22px;
  font-weight: 700;
  color: white;
  width: 150px;
  height: 40px;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
  text-align: center;
}

button.submit-button:hover {
  background-color: #02a654;
}

/* Finalize Project */

.project-create-subpage {
  background-color: white;
  width: 945px;
  min-height: 200px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 400px;
  padding-bottom: 15px;
  flex: 1;
}

/* Project Nav Bar */

.nav-bar-box {
  height: 265px;
  position: relative;
}

.nav-bar-top-text {
  position: absolute;
  left: 50%;
  top: 125px;
  min-width: 953px;
  text-align: center;
  font-size: 44px;
  transform: translate(-50%, -50%);
}

.nav-bar-bottom-text {
  position: absolute;
  left: 50%;
  top: 200px;
  text-align: center;
  min-width: 953px;
  text-align: center;
  font-size: 24px;
  transform: translate(-50%, -50%);
}

.project-nav-bar {
  position: absolute;
  min-width: 630px;
  left: 50%;
  top: 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 1px solid #ccc;
  transform: translate(-50%, -50%);
}

div.delete-wrapper {
  position: fixed;
  top: 360px;
  right: -120px;
  width: 100px;
  height: 60px;
  border: 1px solid #fd003b;
  border-bottom-left-radius: 5px;
  background-color: #fd003b;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: white;
  line-height: 60px;
  transition: 0.5s;
}

div.delete-wrapper.visible {
  transform: translateX(-120px);
  transition: 0.5s;
}

button.delete-project {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

p.delete-message {
  color: black;
  line-height: 20px;
  margin-top: 5px;
}

.project-nav-bar li {
  float: left;
  height: 50px;
  width: 85px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: white;
  text-align: center;
  cursor: pointer;
}

.project-nav-bar li span {
  height: 50px;
  width: 85px;
  display: table-cell;
  vertical-align: middle;
}

.project-nav-bar li span:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.project-nav-bar li:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.project-nav-bar li span.act {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.project-nav-bar li.act-li {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.project-nav-bar #basics.basics {
  color: #0927e2;
  font-weight: 700;
}

.project-nav-bar #rewards.rewards {
  border-radius: 0px;
  color: #0927e2;
  font-weight: 700;
}

.project-nav-bar #story.story {
  border-radius: 0px;
  color: #0927e2;
  font-weight: 700;
}

.project-nav-bar #about_you.about_you {
  border-radius: 0px;
  color: #0927e2;
  font-weight: 700;
}

.project-nav-bar #account.account {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  color: #0927e2;
  font-weight: 700;
}

.project-nav-bar #preview.preview {
  color: #0927e2;
  font-weight: 700;
  border-radius: 5px;
}

.project-nav-bar li.prev-li {
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.project-nav-bar li.submit-li {
  border-radius: 5px;
  border: 1px solid #ccc;
}

.project-nav-bar span.submit-span {
  border-radius: 5px;
}

.project-nav-bar span.submit-span:hover {
  background-color: limegreen;
}

.nav-bar-box h1 {
  position: relative;
}

/* Basics Form */

.wrapper, .about-you-wrapper {
   position:relative;
   height: 100%;
}

.project-basic-form {
   padding:15px;
   height: 100%;
}

div.attribute-field  {
  position: absolute;
  width: auto;
  margin-left: 25px;
  font-weight: 700;
}

div.grey-field {
  height: 155px;
  width: 98%;
  line-height: 155px;
  position: relative;
  margin: 10px;
  border-radius: 5px;
  background-color: aliceblue;
}

div.field-wrapper {
  position: relative;
  float: right;
  width: 700px;
  height: 155px;
}

div.field-wrapper input, textarea.short-blurb-field, textarea.user-biography {
  position: absolute;
  top: 77px;
  transform: translateY(-50%);
  border: 1px solid #ccc;
  margin-right: 25px;
  width: 660px;
  height: 45px;
  line-height: 45px;
  font-size: 24px;
  border-radius: 5px;
  background-color: white;
  padding-left: 15px;
}

button#project-image.project-image, button#about-you-image.about-you-image {
  border: 1px dashed #000;
  width: 99%;
  text-align: center;
  border-radius: 10px;
  height: 95%;
  margin-bottom: auto;
  vertical-align: middle;
}

div.field-wrapper input:focus, textarea.short-blurb-field:focus,
  textarea.user-biography:focus {
  border: 1px solid blue;
  transition: 0.5s;
}

textarea.short-blurb-field, textarea.user-biography {
  height: 75px;
  line-height: 25px;
  font-size: 20px;
  resize: none;
  padding-left: 15px;
}

textarea.user-biography {
  height: 125px;
}

button.category-button {
  float: right;
  position: absolute;
  top: 77px;
  transform: translateY(-50%);
  border: 1px solid #ccc;
  margin-right: -6px;
  width: 300px;
  height: 45px;
  line-height: 45px;
  font-size: 24px;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  cursor: default;
}

img#left, img#right {
  color: blue;
  position: absolute;
  height: 25px;
  width: auto;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

img#right {
  left: 268px;
}

img#left {
  left: 10px;
  z-index: 1;
}

#save-box {
   position: fixed;
   width: 100px;
   height:60px;
   top: 300px;
   right: -120px;
   border: 1px solid #ccc;
   border-top-left-radius: 5px;
   font-size: 14px;
   font-weight: 700;
   text-align: center;
   color: white;
   line-height: 60px;
   cursor: pointer;
   transition: 0.5s
}

#save-box.saved {
  background: #ccc;
  border: 1px solid #ccc;
}

#save-box.unsaved {
  background: #00e673;
  border: 1px solid #00e673;
  transform: translateX(-120px);
  transition: 0.5s;
}

#save-box button.saved {
  background: #ccc;
  cursor: not-allowed;
}

#save-box button.unsaved {
  background: #00e673;
}

#save-box p {
  color: black;
  line-height: 20px;
  margin-top: -125px;
}

/* Rewards creation */

div.rewards-wrapper {
  position: relative;
  height: 350px;
  width: auto;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  background-color: aliceblue;
}

div.reward-error-message {
  position: absolute;
  top: -20px;
  left: 50%;
  min-width: 200px;
  transform: translateX(-50%);
  font-size: 12px;
}

div.reward-error-message p {
  text-align: center;
}

div.rewards-wrapper input {
  width: 125%;
  margin: 10px;
  padding-left: 5px;
  border: 1px solid black;
  color: black;
  background-color: white;
}

div.rewards-wrapper input:focus {
  border-color: springgreen;
  transition: 0.5s;
}

div.rewards-wrapper textarea {
  border: 1px solid black;
  width: 120%;
  resize: none;
  color: black;
  margin: 10px;
  padding-left: 5px;
  background-color: white;
}

div.rewards-wrapper textarea:focus {
  border-color: springgreen;
  transition: 0.5s;
}

button.add-reward-button {
  position: fixed;
  top: 300px;
  right: 0;
  width: 100px;
  height:60px;
  border: 1px solid #00e673;
  border-top-left-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  background-color: #00e673;
  color: white;
  line-height: 60px;
}

button.add-reward-button:hover {
  background-color: #02a654;
}

div.reward-title-text {
  float: left;
  margin-left: 20px;
  font-weight: 700;
  margin-top: 20px;
}

div.reward-title-text.unsaved {
  font-weight: normal;
}

div.reward-title-text.saved {
  color: limegreen;
  transition: 1s;
  margin-left: 18px;
  margin-top: 18px;
  padding: 2px;
}

div.reward-form-wrapper {
  height: 306px;
  width: 300px;
  margin: 0 auto;
  color: darkblue;
  border: 2px solid black;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: steelblue;
}

ul.reward-save-wrapper {
  bottom: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  margin-bottom: 5px;
  padding: 2px 5px;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: white;
}

ul.reward-save-wrapper:hover {
  border: 1px solid #00e673;
  transition: 0.5s;
}

ul.reward-save-wrapper li {
  float: left;
}

ul.reward-save-wrapper li p {
  margin-top: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #000000;
  padding-left: 12px;
}

div.reward-save-button {
  float: left;
}

img#check-mark {
  height: 25px;
  width: auto;
}


button.reward-delete-button {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  color: white;
  font-size: 12px;
  font-weight: 700;
}

div.reward-title-wrapper {
  margin: 20px;
  margin-top: 5px;
  position: absolute;
}

div.reward-title-field {


}

div.reward-amount-wrapper {
  margin: 20px;
  position: absolute;
  top: 40px;
}

div.reward-description-wrapper {
  margin: 20px;
  position: absolute;
  top: 95px;
}

div.reward-quantity-wrapper {
  margin: 20px;
  top: 187px;
  position: absolute;
}

/* Story page */

.story-wrapper {
   position:relative;
   height: 100%;
}

.story-basic-form {
   padding:15px;
   height: 100%;
}

div.story-attribute-field  {
  position: absolute;
  width: auto;
  margin-top: 30px;
  margin-left: 25px;
  font-weight: 700;
}

div.story-grey-field {
  height: 600px;
  width: 98%;
  position: relative;
  margin: 10px;
  border-radius:5px;
  background-color: aliceblue;
}

div.story-field-wrapper {
  position: relative;
  float: right;
  width: 700px;
  height: auto;
}

div.story-instructions {
  position: absolute;
  line-height: 20px;
  margin: 25px;
  margin-left: -50px;
}

div.text-box textarea {
  position: absolute;
  top: 100px;
  border: 1px solid #ccc;
  margin-left: -50px;
  margin-right: 25px;
  width: 700px;
  height: auto;
  line-height: 45px;
  font-size: 24px;
  border-radius: 5px;
  background-color: white;
  padding-left: 15px;
  resize: none;
}

div.text-box textarea:focus {
  border: 1px solid blue;
  transition: 0.5s;
}

/* About You Form */

.about-you-form {
   padding:15px;
   height: 100%;
}

.warning-text {
  position: absolute;
  height: auto;
  line-height: 20px;
  bottom: 20px;
  left: 200px;
}
.warning-text strong {
  color: red;
  font-weight: bold;
}

/* Account form */

.account-info-form {
   padding:15px;
   height: 100%;
}

.email-text {
  position: absolute;
  height: auto;
  line-height: 20px;
  bottom: 10px;
  left: 200px;
  margin-right: 15px;
}

div.unverified, div.verified, div.pending {
  position: absolute;
  right: 0;
  line-height: 20px;
  padding-right: 20px;
  padding-top: 20px;
  font-weight: bold;
}

input#account.user-email {
  width: 500px;
  text-align: center;
}

div.status.pending {
  color: orange;
  transition: 1s;
}

div.status.verified {
  color: green;
  transition: 1s;
}

div.email-button {
  position: absolute;
  right: 15px;
  line-height: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: steelblue;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

div.email-button.verified, div.email-button.pending, div.email-button.verified
  button, div.email-button.pending button {
  background-color: #aaa;
  cursor: not-allowed;
  color: #fff;
}

.entering {
  opacity: 0.01;
}

.entered {
  opacity: 1;
  transition: opacity .2s ease-in;
}
