/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'Liberation Sans';
  src:font_path('LiberationSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Liberation Sans';
  src:font_path('LiberationSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Liberation Sans';
  src:font_path('LiberationSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Liberation Sans';
  src:font_path('LiberationSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

 html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: "Liberation Sans", "HelveticaNeue-Light", "Helvetica Neue Light",
  "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  // -webkit-font-smoothing: antialiased;
}

html {
  overflow-y: scroll;
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
html, body {
  height: 100%
}

div.container {
  min-height: 1000px;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

body {
  background-color: rgba(226, 224, 210, 0.31);
}

/*--------------------------------- clearfix ---------------------------------*/
.group:after {
  content: "";
  display: block;
  clear: both;
}

/*-------------------------------- Nav-bar -----------------------------------*/
.nav-bar {
  z-index: 1;
  position: relative;
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid #eee;
  font-family: helvetica;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  box-shadow: 0px 3px 20px #ccc;
}

.nav-bar a {
  padding-bottom: 22px;
}

.nav-bar a:hover {
  border-bottom: 4px solid rgb(0, 230, 115);
}

.site-nav-left li {
  display: inline-block;
  float: left;
  margin-left: 20px;
  padding-right: 30px;
  width: auto;
  padding: auto;
}

img#nav-prof-pic {
  border-radius: 5px;
  height: 50px;
  padding: 0;
  width: 50px;
  position: absolute;
  right: 15px;
  top: 8px;
}

img#nav-prof-pic:hover {
  border: 2px solid #46c76b;
  right: 13px;
  top: 6px;
}

.site-nav-middle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: perspective(1px) translate(-50%, -50%);
}

.site-nav-middle img {
  height: 20px;
  width: auto;
}

.site-nav-right li {
  display: block;
  float: right;
  padding-right: 30px;
}

li.log-out-button {
  margin-right: 67px;
}

.log-out-button img {
  height: 20px;
  width: auto;
  cursor: pointer;
}

/*--------------------------- Front page/splash ------------------------------*/
div.splash {
  height: 600px;
  width: auto;
  position: relative;
  background-image: image-url("splash3.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: 50% 50%;
  border-bottom: 1px solid #ccc;
  background-size: cover;
  top: -54px;
}

h2.front-page-navigation {
  font-size: 23px;
  margin-bottom: 30px;
  margin-top: -35px;
  text-align: center;
}

ul.three-random-projects {
  flex-flow: row wrap;
  display: flex;
  margin-bottom: 22px;
  justify-content: center;
}

div.loading {
  margin-bottom: 75px;
}


div.front-page-content h2 {
  text-align: center;
  font-size: 72px;
  color: #f7f7f9;
  margin-top: 140px;
  background-color: rgba(0,0,0,0.5);
}

div.front-page-button {
  text-align: center;
  background-color: #46c76b;
  width: 100px;
  margin: 0px auto;
  margin-top: 50px;
  padding: 25px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 28px;
  cursor: pointer;
}

div.front-page-content h3 {
  text-align: center;
  color: white;
  background-color: rgba(0,0,0,0.5);
  padding: 0.5em;
  margin-top: 22px;
}

div.front-page-button:hover {
background-color: #02a654;
}

h2.under-construction {
  margin-bottom: 50px;
  text-align: center;
  font-size: 24px;
  width: 100%;
  cursor: default;
}

/*------------------------------- Future -------------------------------------*/

div.future {
  min-height: 1400px;
}

div.future h1 {
  font-size: 36px;
  text-align: center;
}

div.future p {
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}

/*------------------------------- About -------------------------------------*/

div.about-page {
  min-height: 1000px;
}

div.about-page h1 {
  font-size: 36px;
  text-align: center;
}

div.about-page p {
  font-size: 18px;
  margin: 2em 10em;
}

div.about-page p.email {
  text-align: center;
}

/*------------------------------- Search -------------------------------------*/

li.x-icon {
  padding-right: 0;
  cursor: pointer;
}

input.search {
  border: 2px solid #000;
  width: 55vmax;
  position: absolute;
  right: 200px;
  top: 5px;
  background-color: white;
  height: 50px;
  border-radius: 5px;
  line-height: 50px;
  font-size: 30px;
}

input.search:focus {
  border: 1px solid blue;
}

/*--------------------------Project-index-show-page---------------------------*/

div.index-container {
  min-height: 800px;
}

div.index-container ul.categories-list {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

ul.categories-list li {
  color: white;
  border: 1px solid #ccc;
  float: left;
  width: 100px;
  height: 60px;
  margin: 0 40px 40px 40px;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  font-weight: bold;
  background-color: #46c76b;
  border-radius: 5px;
}

ul.categories-list li:hover {
  background-color: #02a654;
}

div.project-index-wrapper {
  width: 100%;
  margin: 0 auto;
  height: auto;
}

div.project-index-wrapper.flex {
  display: flex;
  width: 100%;
  margin: 0 auto 201px auto;
  height: auto;
  flex-flow: row wrap;
  justify-content: center;
}

/*---------------------------------- error box -------------------------------*/
.errors {
  position: relative;
  height: 30px;
  width: 800px;
  margin: 12px auto;
  color: #f00;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
}

.errors p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.dismissError.present {
  float: right;
  margin-right: 10px;
  color: green;
}

.dismissError.empty {
  color: transparent;
}

.errors.empty {
  color: transparent;
}

.errors.present {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
}

#email.email {
  border: 1px solid red;
  transition: 0.5s;
}

#password.password {
  border: 1px solid red;
  transition: 0.5s;
}

/*---------------------------------- Footer ----------------------------------*/

div.footer-wrapper {
  border-top: 1px solid limegreen;
  height: 200px;
  width: 100%;
  bottom: 0;
  color: white;
  background-color: #16163c;
}

div.footer-wrapper ul.footer-bottom {
  position: absolute;
  left: 50%;
  min-width: 656px;
  transform: translateX(-50%);
  bottom: 100px;
}

h2.click-joke {
  position: absolute;
  transform: translateX(-50%);
  margin-top: 25px;
  left: 50%;
  color: limegreen;
}

h2.click-joke:hover {
  color: red;
  transition: 0.5s;
  cursor: pointer;
}

div.footer-wrapper ul.footer-bottom li{
  float: left;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

/*------------------------------- Search -------------------------------------*/

.search img {
  height: 20px;
  width: auto;
  cursor: pointer;
}

.search img:hover {
}

/*-------------------------- login/signup ------------------------------------*/

.sign-up-form, .login-form {
  width: 400px;
  height: 520px;
  position: relative;
  left: 50%;
  top: 300px;
  margin-bottom: 167px;
  transform: perspective(1px) translate(-50%, -50%);
  border: 0.5px solid #ccc;
  background-color: white;

}


.login-form {
  height: 385px;
  top: 248px;
  margin-bottom: 300px;
}

.sign-up-form input, .login-form input  {
  margin: 12px 17px;
  border: 1px solid #ccc;
  width: 90%;
  height: 40px;
  font-size: 14px;
  border-radius: 5px;
  padding-left: 10px;
  font-weight: 300;
}

.sign-up-form input:focus, .login-form input:focus {
  border: 1px solid blue;
  transition: 0.5s;
}

.sign-up-form button, .login-form button {
  background-color: rgb(0, 230, 115);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  color: white;
  margin: 12px 17px;
  width: 90%;
  height: 40px;
  text-align: center;
}

.sign-up-form h2, .login-form h2 {
  -webkit-font-smoothing: antialiased;
  padding: 20px;
  font-size: 30px;
}

.sign-up-form p, .login-form p {
  margin: 12px;
  text-align: center;
  color: #2c2c48;
  font-size: 14px;
  font-weight: 300;
}

/*----------------------- ProjectStart view ----------------------------------*/

.start-project {
  height: 600px;
  width: auto;
  position: relative;
  background-image: url(/assets/splash2-fcd627d18a303ca97bd637caaf2aaab9e50c233f5f23bf1641992567d91fdc0f.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: 50% 50%;
  top: -54px;
  margin-bottom: 85px;
}

.start-project ul:first-child {
  padding-top:40px;
}

.start-project h1 {
  font-weight: 300;
  font-size: 40px;
  text-align: center;
}

ul.buttons-wrapper {
  position: absolute;
  left: 50%;
  top: 160px;
  transform: translate(-50%, 50%);
}

ul.buttons-wrapper li {
  width: 175px;
  text-align: center;
  float: left;
  background-color: #00e673;
  padding: 20px 0;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s;
}

ul.buttons-wrapper li:hover {
  background-color: #02a654;
}

ul.buttons-wrapper li.moving-up {
  height: -10px;
  transform: scale(0.7) translateY(-71px);
  opacity: 0.5;
  transition: 0.2s;
  background-color: #02a654;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;

}

ul.buttons-wrapper li.new-project-button {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  opacity: .5;
  position: absolute;
}

ul.buttons-wrapper li.new-project-button.spread {
  transform: translateX(-88px);
  transition: 0.2s;
}

li.hide {
  display:none;
}

ul.buttons-wrapper li.saved-projects-button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  position: absolute;
  opacity: .5;
  border-left: 1px solid #fff;
}

ul.buttons-wrapper li.saved-projects-button.spread {
  transform: translateX(87px);
  transition: 0.2s;
}

ul.buttons-wrapper li.saved-projects-button:hover {
  opacity: 1;
  transition: opacity 0.1s linear;
}

ul.buttons-wrapper li.new-project-button:hover {
  opacity: 1;
  transition: opacity 0.1s linear;
}





/*------------------------------- Select-era ---------------------------------*/

.select-era {
  height: 600px;
  width: auto;
  position: relative;
  background-image: image-url("splash2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: 50% 50%;
  border-bottom: 1px solid #ccc;
  background-size: cover;
  top: -54px;
  margin-bottom: 85px;
}

.select-era img {
  width: 100%;
  position: absolute;
}

.select-era *:not(li) {
  position: absolute;
  left: 50%;
  margin-left: -1px;
  transform: perspective(1px) translate(-50%, -50%);
  text-align: center;
}

.select-era h2 {
  top: 112px;
  font-weight: 300;
  font-size: 44px;
  color: black;
}

.select-era ul {
  top: 215px;
  font-weight: 300;
  font-size: 36px;
  color: black;
  text-align: center;
}

.select-era ul.create-category-select {
  min-width: 724px;
}

.select-era ul.create-category-select > li {
  float:left;
}

.select-era .display-cat {
  margin: 0 20px;
  width: 250px;
  border-bottom: 2px solid #000;
  cursor: pointer;
}

img#cat-down {
  color: blue;
  position: absolute;
  height: 18px;
  width: auto;
  transform: translateX(48%);
  top: 50%;
  right: 44px;
  transform: translate(590%, -50%);
  cursor: pointer;
}

.select-era .display-cat:hover {
  border-bottom: 2px solid #00e673;
  transition: 0.5s;
}

/*---------------------------- Create Project --------------------------------*/

ul.inactive-drop-down > li {
  display: none;
}
li.first-half-text {
  word-spacing: 1px;
}

ul.active-drop-down {
  width: 248px;
  top: 394px;
  border: 1px solid #ccc;
  font-size: 18px;
  left: 50%;
  margin-left: -2px;
  background-color: mintcream;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1;
}

li.cats-first-half, li.cats-second-half {
  padding:20px;
  cursor: pointer;
}

li.cats-second-half:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

li.cats-first-half:hover, li.cats-second-half:hover {
  background-color: palegreen;
  transition: 0.3s;
}

.select-era input {
  top: 300px;
  width: 700px;
  font-weight: 300;
  color: darkgreen;
  line-height: 32px;
  font-size: 36px;
  border-bottom: 2px solid black;
  text-align: left;
}
.select-era ::-webkit-input-placeholder {
   color: darkgreen;
}

button.submit-button {
  position: absolute;
  top: 420px;
  background-color: #00e673;
  border-radius: 10px;
  left: 60%;
  font-size: 22px;
  font-weight: 700;
  color: white;
  width: 150px;
  height: 40px;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
  text-align: center;
}

button.submit-button:hover {
  background-color: #02a654;
}

/*--------------------------- Finalize Project -------------------------------*/

.project-create-subpage {
  background-color: white;
  width: 945px;
  min-height: 200px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 400px;
  padding-bottom: 15px;
  flex: 1;
}

.project-create-subpage.wide {
  width: 100%;
  background-color: #f7f7f9;
  height: 2000px;
  border-radius: 0;
}

/*---------------------------- Project Nav Bar -------------------------------*/

.nav-bar-box {
  height: 265px;
  position: relative;
}

.nav-bar-top-text {
  position: absolute;
  left: 50%;
  top: 125px;
  min-width: 953px;
  text-align: center;
  font-size: 44px;
  transform: translate(-50%, -50%);
}

.nav-bar-bottom-text {
  position: absolute;
  left: 50%;
  top: 200px;
  text-align: center;
  min-width: 953px;
  text-align: center;
  font-size: 24px;
  transform: translate(-50%, -50%);
}

.project-nav-bar {
  position: absolute;
  min-width: 630px;
  left: 50%;
  top: 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 1px solid #ccc;
  transform: translate(-50%, -50%);
}

div.delete-wrapper {
  position: fixed;
  top: 360px;
  right: -120px;
  width: 100px;
  height: 60px;
  border: 1px solid #fd003b;
  border-bottom-left-radius: 5px;
  background-color: #fd003b;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: white;
  line-height: 60px;
  transition: 0.5s;
}

div.delete-wrapper.visible {
  transform: translateX(-120px);
  transition: 0.5s;
}

button.delete-project {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

p.delete-message {
  color: black;
  line-height: 20px;
  margin-top: 5px;
}

.project-nav-bar li {
  float: left;
  height: 50px;
  width: 85px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: white;
  text-align: center;
  cursor: pointer;
}

.project-nav-bar li:hover:not(:last-child) {
  color: #0927e2;
  font-weight: 700;
}

.project-nav-bar li span {
  height: 50px;
  width: 85px;
  display: table-cell;
  vertical-align: middle;
}

.project-nav-bar li span:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.project-nav-bar li:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 1px solid #ccc;
}

.project-nav-bar li span.act {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.project-nav-bar li.act-li {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: 1px solid #ccc;
}

.project-nav-bar #basics.basics {
  color: #0927e2;
  font-weight: 700;
}

.project-nav-bar #rewards.rewards {
  border-radius: 0px;
  color: #0927e2;
  font-weight: 700;
}

.project-nav-bar #story.story {
  border-radius: 0px;
  color: #0927e2;
  font-weight: 700;
}

.project-nav-bar #about_you.about_you {
  border-radius: 0px;
  color: #0927e2;
  font-weight: 700;
}

.project-nav-bar #account.account {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  color: #0927e2;
  font-weight: 700;
}

.project-nav-bar #preview.preview {
  color: #0927e2;
  font-weight: 700;
  border-radius: 5px;
}

.project-nav-bar li.prev-li {
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.project-nav-bar li.submit-li {
  border-radius: 5px;
  border: 1px solid #ccc;
}

.project-nav-bar span.submit-span {
  border-radius: 5px;
}

.project-nav-bar span.submit-span:hover {
  background-color: #46c76b;
}

.nav-bar-box h1 {
  position: relative;
}

/*------------------------------ Basics Form ---------------------------------*/

.wrapper, .about-you-wrapper {
   position:relative;
   height: 100%;
}

.project-basic-form {
   padding:15px;
   height: 100%;
}

div.attribute-field  {
  position: absolute;
  width: auto;
  margin-left: 25px;
  font-weight: 700;
}

div.grey-field {
  height: 155px;
  width: 98%;
  line-height: 155px;
  position: relative;
  margin: 10px;
  border-radius: 5px;
  background-color: #e4f2ff;
}

div.picture-thumbnail-field {
  position: absolute;
  top: 77px;
  transform: translateY(-50%);
  margin-right: 25px;
  width: 200px;
  height: 45px;
  line-height: 45px;
  font-size: 24px;
  border-radius: 5px;
  padding-left: 15px;
}

div.picture-thumbnail-field input {
  left: 100%;
  position:absolute;
  font:none;
}

div.picture-thumbnail img {
  width:50px;
  height:auto;
  position:absolute;
  right: -200%;
}

div.field-wrapper {
  position: relative;
  float: right;
  width: 700px;
  height: 155px;
}

div.field-wrapper input, textarea.short-blurb-field, textarea.user-biography {
  position: absolute;
  top: 77px;
  transform: translateY(-50%);
  border: 1px solid #ccc;
  margin-right: 25px;
  width: 660px;
  height: 45px;
  line-height: 45px;
  font-size: 24px;
  border-radius: 5px;
  background-color: white;
  padding-left: 15px;
}

button#project-image.project-image, button#about-you-image.about-you-image {
  border: 1px dashed #000;
  width: 99%;
  text-align: center;
  border-radius: 10px;
  height: 95%;
  margin-bottom: auto;
  vertical-align: middle;
}

div.field-wrapper input:focus, textarea.short-blurb-field:focus,
  textarea.user-biography:focus {
  border: 1px solid blue;
  transition: 0.5s;
}

textarea.short-blurb-field, textarea.user-biography {
  height: 75px;
  line-height: 25px;
  font-size: 20px;
  resize: none;
  padding-left: 15px;
}

textarea.user-biography {
  height: 125px;
}

button.category-button {
  float: right;
  position: absolute;
  top: 77px;
  transform: translateY(-50%);
  border: 1px solid #ccc;
  margin-right: -6px;
  width: 300px;
  height: 45px;
  line-height: 45px;
  font-size: 24px;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  cursor: default;
}

img#left, img#right {
  color: blue;
  position: absolute;
  height: 18px;
  width: auto;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

img#right {
  left: 268px;
}

img#left {
  left: 10px;
  z-index: 1;
}

#save-box {
   position: fixed;
   width: 100px;
   height:60px;
   top: 300px;
   right: -120px;
   border: 1px solid #ccc;
   border-top-left-radius: 5px;
   font-size: 14px;
   font-weight: 700;
   text-align: center;
   color: white;
   line-height: 60px;
   cursor: pointer;
   transition: 0.5s
}

#save-box.saved {
  background: #ccc;
  border: 1px solid #ccc;
}

#save-box.unsaved {
  background: #00e673;
  border: 1px solid #00e673;
  transform: translateX(-120px);
  transition: 0.5s;
}

#save-box button.saved {
  background: #ccc;
  cursor: not-allowed;
}

#save-box button.unsaved {
  background: #00e673;
}

#save-box p {
  color: black;
  line-height: 20px;
  margin-top: -125px;
}

/*-------------------------------- Rewards creation --------------------------*/

div.rewards-wrapper {
  position: relative;
  height: 350px;
  width: auto;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  background-color: #e4f2ff;
}

div.reward-error-message {
  position: absolute;
  top: 24px;
  left: -183px;
  font-weight: bold;
  color: #f00;
  min-width: 200px;
  transform: translateX(-50%);
  font-size: 12px;
}

div.reward-error-message p {
  text-align: left;
}

div.rewards-wrapper input {
  width: 254px;
  margin: 10px 0;
  font-size: 14px;
  padding-left: 5px;
  color: black;
  background-color: white;
}

div.rewards-wrapper input:focus {
  border: 1px solid springgreen;
  transition: 0.5s;
}

div.rewards-wrapper textarea {
  width: 254px;
  margin: 10px 0;
  font-size: 14px;
  resize: none;
  color: black;
  padding-left: 5px;
  background-color: white;
}

div.rewards-wrapper textarea:focus {
  border: 1px solid springgreen;
  transition: 0.5s;
}

button.add-reward-button {
  position: fixed;
  top: 300px;
  right: 0;
  width: 100px;
  height:60px;
  border: 1px solid #00e673;
  border-top-left-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  background-color: #00e673;
  color: white;
  line-height: 60px;
}

button.add-reward-button:hover {
  background-color: #02a654;
}

div.reward-title-text {
  float: left;
  margin-left: 20px;
  font-weight: 700;
  margin-top: 20px;
}

div.reward-title-text.unsaved {
  font-weight: normal;
}

div.reward-title-text.saved {
  color: limegreen;
  transition: 1s;
  margin-left: 18px;
  margin-top: 18px;
  padding: 2px;
}

div.reward-form-wrapper {
  height: 306px;
  width: 300px;
  margin: 0 auto;
  color: darkblue;
  border: 1px solid #7887ed;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #e0e4fb;
}

ul.reward-save-wrapper {
  bottom: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  margin-bottom: 5px;
  padding: 2px 5px;
  color: #fff;
  border-radius: 5px;
  background-color: #7887ed;
}

ul.reward-save-wrapper:hover {
  transition: 0.3s;
  background-color: #606bb9;
}

ul.reward-save-wrapper li {
  float: left;
}

ul.reward-save-wrapper li p {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #fff;
  padding: 7px;
}

div.reward-save-button {
  float: left;
}


button.reward-delete-button {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  color: #7887ed;
  font-size: 12px;
  font-weight: 700;
}

div.reward-title-wrapper {
  margin: 20px;
  margin-top: 5px;
  position: absolute;
}

div.reward-title-field {
  color: #7887ed;

}

div.reward-amount-wrapper {
  margin: 20px;
  position: absolute;
  top: 40px;
}

div.reward-amount-field {
  color: #7887ed;
}

div.reward-description-wrapper {
  margin: 20px;
  position: absolute;
  top: 95px;
}

div.reward-description-field {
  color: #7887ed;
}

div.reward-quantity-wrapper {
  margin: 20px;
  top: 187px;
  position: absolute;
}

div.reward-quantity-field {
  color: #7887ed;
}

/*----------------------------- Story page -----------------------------------*/

.story-wrapper {
   position:relative;
   height: 100%;
}

.story-basic-form {
   padding:15px;
   height: 100%;
}

div.story-attribute-field  {
  position: absolute;
  width: auto;
  margin-top: 30px;
  margin-left: 25px;
  font-weight: 700;
}

div.story-grey-field {
  height: 600px;
  width: 98%;
  position: relative;
  margin: 10px;
  border-radius:5px;
  background-color: #e4f2ff;
}

div.story-field-wrapper {
  position: relative;
  float: right;
  width: 700px;
  height: auto;
}

div.story-instructions {
  position: absolute;
  line-height: 20px;
  margin: 25px;
  margin-left: -50px;
}

div.text-box textarea {
  position: absolute;
  top: 100px;
  border: 1px solid #ccc;
  margin-left: -50px;
  margin-right: 25px;
  width: 700px;
  height: auto;
  line-height: 45px;
  font-size: 24px;
  border-radius: 5px;
  background-color: white;
  padding-left: 15px;
  resize: none;
}

div.text-box textarea:focus {
  border: 1px solid blue;
  transition: 0.5s;
}

/*--------------------------- About You Form --------------------------------*/

.about-you-form {
   padding:15px;
   height: 100%;
}

.warning-text {
  position: absolute;
  height: auto;
  line-height: 20px;
  bottom: 20px;
  left: 200px;
}
.warning-text strong {
  color: red;
  font-weight: bold;
}

/*---------------------------- Account form ---------------------------------*/

.account-info-form {
   padding:15px;
   height: 100%;
}

.email-text {
  position: absolute;
  height: auto;
  line-height: 20px;
  bottom: 10px;
  left: 200px;
  margin-right: 15px;
}

div.unverified, div.verified, div.pending {
  position: absolute;
  right: 0;
  line-height: 20px;
  padding-right: 20px;
  padding-top: 20px;
  font-weight: bold;
}

input#account.user-email {
  width: 500px;
  text-align: center;
}

div.status.pending {
  color: orange;
  transition: 1s;
}

div.status.verified {
  color: green;
  transition: 1s;
}

div.email-button {
  position: absolute;
  right: 15px;
  line-height: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: steelblue;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

div.email-button.verified, div.email-button.pending, div.email-button.verified
  button, div.email-button.pending button {
  background-color: #aaa;
  cursor: not-allowed;
  color: #fff;
}

.entering {
  opacity: 0.01;
}

.entered {
  opacity: 1;
  transition: opacity .2s ease-in;
}

/* Preview page */

div.preview-wrapper {
  position: relative;
  width: 945px;
  margin: 0 auto;
}

div.project-location {
  position: absolute;
  font-weight: bold;
  font-size: 14px;
}

div.preview-header {
  text-align: center;
  margin-top: 50px;
}

h3.preview-project-title {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 4px;
}

p.preview-project-name {
  font-size: 14px;
}

div.preview-project-image {
  width: 600px;
  height: 600px;
  border: 1px solid black;
  float: left;
  margin: 30px 30px 30px 0;
  background-color: black;
}

div.preview-project-image img {
  display: block;
  width: 600px;
  height: 600px;
  max-height: 600px;
  margin: 0 auto;
}

div.preview-project-summary {
  position: absolute;
  right: 0;
  top: 150px;
  width: 300px;
  height: 400px;
}

div.preview-project-summary ul {
  color: black;
}

li.funders-num {
  color: #aeb7c2;
  font-size: 47px;
  font-weight: 400;
}

li.funders-text {
  color: black;
  margin-bottom: 20px;
}

li.funded-num {
  color: #aeb7c2;
  font-size: 47px;
  font-weight: 400;
}

li.funded-goal {
  color: black;
}

div.preview-project-duration {
  margin-top: 20px;
  color: #aeb7c2;
  font-size: 47px;
  font-weight: 400;
}

div.preview-warning {
  border-left: 2px solid #ccc;
  padding: 20px 0 0 20px;
  margin-top: 41px;
}

div.preview-sub-info {
  width: 945px;
  height: 100px;
  position: absolute;
  top: 750px;

}

div.social-links-wrapper {
  color: black;
}

ul.social-links {
  color: black;
}

ul.social-links li {
  color: black;
  float: left;
  margin: 20px 20px 0 0;
  height: 20px;
  width: 20px;
}

ul.social-links li:not(:first-child) {
  margin: 20px 20px 0 20px;
}

div.user-info {
  position: absolute;
  margin-top: -80px;
  padding-top: 29px;
  width: 250px;
  border-top: 1px solid #ccc;
  right: 50px;
}

div.preview-project-blurb {
  margin-top: 22px;
  width: 600px;
  position: absolute;
  line-height: 20px;
}

div.era-field {
  position: absolute;
  top: 737px;
}

div.user-info p.project-total {
  margin-top: 22px;
}

ul.user-contact-info {
  margin-top: 2px;
}

ul.user-name-pic li:not(:last-child) {
  float: left;
}

ul.user-name-pic li:last-child {
  right: 2px;
  position: absolute;
  height: 58px;
  width: 58px;
}

img#prof-pic {
  border-radius: 5px;
}

ul.user-contact-info li:not(:last-child) {
  float: left;
  font-size: 14px;
  color: #2c56ff;
  font-weight: 700;
}

ul.user-contact-info li:last-child {
  float: right;
  font-size: 14px;
  color: #2c56ff;
  font-weight: 700;
}

p.user-full-name {
  font-size: 14px;
  font-weight: bold;
}

p.user-website {
  font-size: 14px;
  font-weight: bold;
  margin-top: 3px;
  width: 300px;
}

div.content-divider {
  position: absolute;
  top: 1335px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  height: 50px;
  box-shadow: 0px 3px 6px #ccc;
  width: 100%;
}

div.preview-bottom-page {
  width: 945px;
  margin: 0 auto;
}

div.project-content-bar {
  position: absolute;
  top: 1335px;
  padding: 15px 0;
}

div.project-content-bar ul {
  margin-left: 44px;
}

div.project-content-bar li {
  float: left;
  margin: 2px 150px 0 0;
  font-family: helvetica;
}

div.project-content-bar li:last-child {
  float: left;
  margin: 2px 0 0 0;
  font-family: helvetica;
}

div.project-content-field {
  position: absolute;
  height: auto;
  width: 945px;
  top: 1400px;
}

h3.preview-about-field {
  color: #000;
  font-weight: 700;
  margin-left: 191px;
  font-size: 24px;
}

div.project-content, div.project-risks {
  width: 560px;
  float: left;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 0 0 20px 0;
  line-height: 23px;
}

div.project-risks {
  margin-bottom: 200px;
}

div.project-content-field h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  padding: 0;
  margin: 0 0 15px 0;
}

div.project-rewards-sidebar {
  position: absolute;
  width: 300px;
  left: 645px;
  height: auto;
  margin-top: -17px;
}

div.single-reward-wrapper {
  border: 1px solid #7887ed;
  padding: 0 10px 10px 10px;
  border-radius: 10px;
  background-color: #e0e4fb;
  margin-bottom: 25px;
}

div.single-reward-wrapper h3 {
  color: #7887ed;
  font-weight: 400;
  font-size: 14px;
}

div.single-reward-wrapper p.reward-number {
  font-size: 12px;
}

div.single-reward-wrapper h4.reward-title {
  font-weight: 400;
  margin: 0;
  font-size: 16px;
}

/*---------------------- Focus-Project-Preview -------------------------------*/

h2.no-saved-projects-message {
  text-align: center;
  font-size: 36px;
}
div.saved-projects-wrapper {
  width: 100%;
  min-height: 200px;
  margin: 0 auto;
  margin-bottom: 800px;
  padding-bottom: 15px;
  flex: 1;
}

div.focus-project button.new-project-button {
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #46c76b;
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
  top: 190px;
}

div.focus-project button.new-project-button:hover {
  background-color: #02a654;
}

h1.focal-project-header {
  text-align: center;
  font-size: 36px;
}

div.focal-project-wrapper {
  position: relative;
  width: 1000px;
  height: 300px;
  margin: 55px auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
}

div.focal-project-wrapper:hover, div.project-preview-wrapper:hover {
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 0px 0px 50px #46c76b;
}

div.project-preview-wrapper:hover {
  transform: scale(1.02);
}

div.focal-project-image {
  position: absolute;
  height: 300px;
  width: 450px;
  overflow: hidden;
  background-color: black;
}

div.focal-project-image img {
  display: block;
  max-height: 300px;
  width: auto;
  margin: 0 auto;
}

div.focal-right-half {
  width: 500px;
  height: 300px;
  float: right;
}

h3.focal-project-title {
  text-align: center;
  font-size: 24px;
  margin: 10px 0 0 0;
  font-weight: 400;
}

p.focal-project-username {
  font-size: 14px;
  margin: 10px 30px 30px;
}

p.focal-project-blurb {
  margin: -30px 30px;
  position: absolute;
}

p.focal-project-location {
  float: left;
  font-weight: 700;
  font-size: 14px;
  margin: 45px 30px 10px 30px;
}

p.focal-project-category {
  margin-top: 45px;
  padding-right: 30px;
  font-weight: 700;
  float: right;
  font-size: 14px;
}

div.focal-project-progress-bar {
  height: 10px;
  width: 440px;
  margin: 80px auto;
  margin-bottom: 0;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #2bde73;
}

ul.focal-project-summary {
  color: black;
}

ul.focal-project-summary li.summary-cat:first-child {
  float: left;
  margin-left: 30px;
  text-align: center;
}

ul.focal-project-summary li.summary-cat:last-child {
  float: right;
  margin-top: -35px;
  margin-right: 31px;
  text-align: center;
}

li.duration-li {
  text-align: center;
  transform: translateX(-5%);
  margin-top: 10px;
}

li#focal-basic-text {
  font-size: 14px;
}

li#focal-basic-amount {
  font-weight: bold;
  color: #2bde73;
}

/*---------------------------- Project-preview -------------------------------*/

ul.saved-projects-list {
  display: flex;
  width: 88%;
  margin: 0 auto;
  height: auto;
  flex-flow: row wrap;
}

h4.saved-project-list-header {
  text-align: center;
  font-size: 20px;
}

ul.saved-projects-list:last-child {
  color: black;
}

h1.project-preview-header {
  text-align: center;
  font-size: 36px;
}

div.saved-projects-div {
  width: 100%;
}

div.project-preview-wrapper {
  position: relative;
  width: 350px;
  height: 450px;
  margin: 20px 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
}

div.project-preview-image {
  height: 175px;
  width: 350px;
  overflow: hidden;
  background-color: black;
}

div.project-preview-image img {
  display: block;
  max-height: 175px;
  margin: 0 auto;
  width: auto;
}

div.preview-bottom-half {
  width: 350px;
  height: 275px;
}

h3.project-preview-title {
  font-size: 14px;
  margin: 0;
  padding: 8px;
  font-weight: 700;
}

p.project-preview-username {
  font-size: 14px;
  padding: 0 8px;
}

p.project-preview-blurb {
  margin: -8px 8px;
  position: absolute;
  font-size: 14px;
}

p.project-preview-location {
  font-weight: 700;
  font-size: 14px;
  position: absolute;
  top: 325px;
  left: 8px;
}

p.project-preview-category {
  font-weight: 700;
  position: absolute;
  right: 8px;
  top: 325px;
  font-size: 14px;
}

div.project-preview-progress-bar {
  height: 6px;
  width: 334px;
  margin: 92px auto;
  margin-bottom: 0;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
}

p.funded-preview {
  top: 356px;
  left: 108px;
  position: absolute;
}

div.progress-overflow {
  z-index: 1;
  background-color: #2bde73;
  height: 50px;
  width: 0px;
}

ul.project-preview-summary {
  height: 60px;
  width: auto;
  bottom: 12px;
  left: 10px;
  position: relative;
}

ul.project-preview-summary li.preview-summary-cat:first-child {
  float: left;
  margin-left: 25px;
  margin-top: 8px;
  text-align: center;
}

ul.project-preview-summary li.preview-summary-cat:last-child {
  float: right;
  margin-top: -27px;
  margin-right: 25px;
  text-align: center;
}

ul.project-preview-summary li.duration-li {
  text-align: center;
  transform: translate(-12%, 21%);
  margin-top: 10px;
}

li#preview-basic-text {
  font-size: 14px;
}

li#preview-basic-amount {
  font-weight: bold;
  color: #2bde73;
}

/*----------------------------- Submit-page/show -----------------------------*/

div.pending-wrapper {
  margin-top: -140px;
  font-size: 36px;
  text-align:center;
}

div.delete-project {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  width: 150px;
  text-align: center;
  border-radius: 5px;
  background-color: red;
  color: white;
  font-weight: 700;
  box-shadow: 2px 2px 5px #ccc;
  cursor: pointer;
}

div.delete-project:hover {
  background-color: #a90808;
}

div.change-picture {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

div.change-picture input {
  margin-left: 20px;
}

li.funders-num-final {
  color: #181819;
  font-size: 50px;
  font-weight: 700;
}

li.funded-num-final {
  color: #181819;
  font-size: 50px;
  font-weight: 700;
}

div.preview-project-duration-final {
  margin-top: 20px;
  color: #181819;
  font-size: 50px;
  font-weight: 700;
}

div.project-location-final {
  position: absolute;
  font-weight: bold;
  font-size: 14px;
  color: #16163c;
}

ul.project-content-nav-bar.final li {
  cursor: pointer;
  padding: 0 10px;
}

ul.project-content-nav-bar.final li:hover {
  color: #0927e2;
}

div.single-reward-wrapper.final:hover {
  color: #fff;
  background-color: rgba(43,222,115,0.9);
  transition: 0.2s;
  cursor: pointer;
}

div.funded-message {
  padding: 15px;
  text-align: center;
  font-weight: bold;
  display: none;
}

div#zero.zero.funded-message {
  display: block;
}

div#one.one.funded-message {
  display: block;
}

div#two.two.funded-message {
  display: block;
}

div#three.three.funded-message {
  display: block;
}

div.back-project {
  margin-top: 75px;
  border: 1px solid #ccc;
  text-align: center;
  padding: 35px;
  width: 100px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 15px;
  box-shadow: 4px 4px 7px #ccc;
  color: #fff;
  letter-spacing: 1px;
  background-color: #46c76b;
  cursor: pointer;
}

div.back-project:hover {
  background-color: #02a654;
}

ul.user-contact-info.final li {
  cursor: pointer;
}

p.user-website.final {
  cursor: pointer;
}

div.user-biography {
  opacity: 0;
  position: absolute;
  z-index: 1;
  border: 1px solid #46c76b;
  width: 400px;
  margin: 0 auto;
  padding: 20px 10px;
  border-radius: 10px;
  box-shadow: -11px -11px 12px #ccc;
  top: 190px;
  left: 2px;
  line-height: 21px;
  background-color: white;
}

div.user-biography.revealed {
  opacity: 1;
  transition: 0.3s;
}

div.user-email {
  opacity: 0;
  position: absolute;
  z-index: 1;
  border: 1px solid #46c76b;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 10px;
  border-radius: 10px;
  box-shadow: -10px -10px 12px #ccc;
  top: 190px;
  left: -2px;
  line-height: 21px;
  background-color: white;
}

div.user-email.revealed {
  opacity: 1;
  transition: 0.3s;
}

div.single-reward-wrapper.highlight {
  box-shadow: 0px 0px 44px #46c76b;
}

div.bottom-page-wrapper {
  width: 985px;
  height: 1416px;
  overflow: hidden;
  margin: 211px auto 0 auto;
}

div.bottom-page-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  transform: translateX(1500px);
  transition:0.3s;
}

div.comments-wrapper.comments {
  transform: translateY(0px);
  transition: 0.3s;
}

div.updates-wrapper.updates {
  transform: translateY(0px);
  transition: 0.3s;
}

div.community-wrapper.community {
  transform: translateY(0px);
  transition: 0.3s;
}

li#campaign.campaign {
  border-bottom: 4px solid darkblue;
  border-radius: 5px;
}

li#comments.comments {
  border-bottom: 4px solid darkblue;
  border-radius: 5px;
}

li#community.community {
  border-bottom: 4px solid darkblue;
  border-radius: 5px;
}

li#updates.updates {
  border-bottom: 4px solid darkblue;
  border-radius: 5px;
}

h1.pending-header {
  font-size: 36px;
  margin-top: 30px;
}

div.single-reward-wrapper.reveal-reward {
  z-index: 2;
}
